@font-face {
    font-family: 'Whitney';
    src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot');
    src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix') format('embedded-opentype'),
      url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff') format('woff'),
      url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

    @font-face {
    font-family: 'Whitney';
    src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot');
    src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.woff') format('woff'),
      url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  









:root{

    --border-anim-bg-clr:black;

    --alert-bor-clr:black;
    --alert-rem-bg-clr:red;

    --pri-btn-bg-clr:black;
    --pri-btn-txt-clr:white;
    --pri-btn-bor-clr:black;

    --link-txt-clr:black;

    --icon-btn-bg-clr:#E5E7EB;


}

.body{
    margin:0;
}




/*navbar*/
.navbar{
display:flex;
justify-content:flex-end;
align-items:center;    
}
.navbar>div{
    margin:0 10px;
    padding:5px 5px;
    cursor:pointer;
    transition:all 1s;
}
.navbar-border-anim{
    width:0;
    transition:all 0.8s;
    background-color:var(--border-anim-bg-clr);
    height:2px;

}
.navbar>div:hover .navbar-border-anim{
   width:100%;

}



/*with each element background in navbar
.navbar>div:hover{
    background-color: black;
    color:white;
    transition:all 0.4s;
}*/





/*---------------------------------------------------------------------*/

/*alert*/
.alert{
    
    display:flex;
    justify-content: left;
    align-items:center;
    max-width:40%;
    min-width: 200px;
    padding:10px;
    letter-spacing: 0.8px;
    }

/*alert-error*/

.alert-error{
background:#FECACA;
}
.alert-error>i{
    color:#EF4444;
    font-size:22px;
    padding-right:10px;
}

/*alert-success*/

.alert-success{
    background:#A7F3D0;
}

.alert-success>i{
    color:#10B981;
    
    font-size:22px;
    padding-right:10px;
}

/*alert-warning*/

.alert-warning{
    background:#FEF3C7;
}

.alert-warning>i{
    color:#F59E0B;
    
    font-size:22px;
    padding-right:10px;
}

/*alert-warning*/

.alert-warning{
    background:#FEF3C7;
}

.alert-warning>i{
    color:#F59E0B;
    
    font-size:22px;
    padding-right:10px;
}


/*alert-info*/

.alert-info{
    background:#BFDBFE;
}

.alert-info>i{
    color:#3B82F6;
    
    font-size:22px;
    padding-right:10px;
}





/*------------------------------------------------------------------------*/
/*button*/

/*primary button*/
.primary-button{
    padding:5px 10px;
    background-color: var(--pri-btn-bg-clr);
    color:var(--pri-btn-txt-clr);
    text-decoration:none;
    margin:5px;  
    border-radius:5px;
    border:1px solid var(--pri-btn-bor-clr)
    
}





/*link*/

.link{
    text-decoration: none;
    color:var(--link-txt-clr);
}
.link>i{
    margin-right:5px;
}





/*icon-button*/

.icon-button{
    padding:0.5rem 1rem;
    background-color:var(--icon-btn-bg-clr);
    font-size:25px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    outline:none;
    width:57px;
    height:57px;
    position:relative;

}
.icon-button:active{
    transform:scale(0.95);
}





/*icon-button-badge*/

.icon-badge{
  position:absolute;
  background-color:red;
  color:white;
  font-size:40%;
  width:15px;
  height:15px;
  border-radius:50%;
  top:2%;
  right:3%;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  padding:1px;
}




/*floating-button*/

.float-act-list{
    display:none;
    position:absolute;
    width:57px;
    height:250px;
    top:-260px;
   
}
.float-act-list>button{
    padding:0.5rem 1rem;
    background-color:rgb(240, 240, 240);
    font-size:25px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    outline:none;
    width:57px;
    height:53px;
    margin:5px 0;

}
.float-act-list>button:active{
    transform:scale(0.95);
 
}
.floating-action{
    position:fixed;
    bottom:0;
    right:20px;
    display:flex;
    justify-content:center;
    padding:0;
   
}
.float-act-btn{
    
    border:none;
    font-size:25px;
    background-color: black;
    color:white;
    border-radius: 50%;
    cursor:pointer;
    outline:none;
    width:57px;
    height:57px;
    padding:0 0 0 0;
   
}





/* Avatar*/

.avatar{
 width:50px;
 height:50px;
 border-radius:50%;
border:2px solid black;
position:relative;
}
.avatar-img{
    width:92%;
    height:92%;
    padding:4%;
    border-radius:50%;
    cursor:pointer;
}




/*Avatar with badge*/

.avtar-badge{
  width:27%;
  height:27%;
  background-color: green;
  position:absolute;
  top:1%;
  right:-8%;
  border-radius:50%;
  border:2.5px solid white;
}




/*cards*/

.cards{
    width:210px;
    position:relative;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    text-overflow:ellipsis;
    
}
.cards:hover{
    box-shadow:0 2px 16px 4px rgba(40,44,63,.07);
}

.cards-img{
    width:100%;
}
.cards-desc{
    padding:0 10px;
    margin-top:12px;
}
.cards-desc-title{
    font-size:16px;
    font-weight:500;
    color:#282c3f;
    margin-bottom:6px;
}
.cards-desc-type{
    font-size:14px;
    font-weight: 400;
    color:#535766;
    line-height:1;
}

.cards-desc-priceblock{
    margin:8px 0 6px 0;
}
.cards-desc-price{
    font-size:14px;
    font-weight: 500;
    color:#282c3f;

}
.cards-desc-oldprice{
    font-size:12px;
    color:#7e818c;
    text-decoration: line-through;
    font-weight:400;
    margin-left:2.4px;

}
.cards-desc-discount{
    font-weight:400;
    font-size:12px;
    color:#ff905a;
    margin-left:2.4px;
}

.cards-wishcont{
 position:absolute;
 background-color: white;;
 bottom:80px;
 width:100%;
 height:100px;
 display:flex;
 justify-content:center;
 align-items:center;
 visibility:hidden;
 opacity:0;
transition:visibility 0.5s ease,opacity 0.5s ease;
 
}
.cards-wishcont-button{
    width:80%;
    border:1px solid rgb(186, 186, 186);
    display:flex;
    justify-content: center;
    align-items:center;
    height:30px;
    cursor:pointer;
    color:#282c3f;
    

}
.cards-wishcont-button>span{
    font-size:11px;
    font-weight: 500;
    letter-spacing:0.3px;
}
.cards-wishcont-button:hover{
    border:1px solid black;
}
.cards-wishcont-button>i{
    margin-right: 7px;
}
.cards:hover .cards-wishcont{
visibility:visible;
opacity:1;
}




/*cards-badge*/

.cards-badge{
    position:absolute;
    background-color:#efd3d7;
    top:15px;
    width:50px;
    text-align:center;

}




/*cards dismiss*/

.cards-dismiss{
    position:absolute;
    top:5px;
    right:5px;
    background-color:rgb(216, 216, 216);
    border-radius:50%;
    outline:none;
    width:25px;
    height:25px;
    border:none;
    border:1px solid rgb(216, 216, 216);
    transition:border 0.5s ease;
    cursor:pointer;
}
.cards-dismiss:hover{
  border:1px solid gray;
}
.cards-dismiss:active{
    transform:scale(0.9);
}





/*responsive image*/

.responsive-img{
    max-width:100%;
    min-width:200px;
}
.responsive-img>img{
    width:100%;
}




/*round image*/

.round-img{
    max-width:50%;
    min-width: 200px;
}
.round-img>img{
    width:100%;
    border-radius:50%;
}





/*input text*/
.input{
    position:relative;
    font-size:14px;
    padding-top:20px;
    margin-bottom:5px;
    
}
.input .input-text{
    border:none;
    appearance:none;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-apperance:none;
    background:#f2f2f2;
    padding:12px;
    border-radius: 3px;
    width:250px;
    outline:none;
    font-size:14px;
    box-shadow: none;
}
.input .placeholder{
    position:absolute;
    left:12px;
    top:calc(50% + 10px);
    transform:translateY(-50%);
    color:#aaa;
    transition:top 0.2s ease,
    font-size 0.2s ease,
    color 0.2s ease;
}
.input .input-text:focus + .placeholder{
    top:0px;
    font-size:12px;
    color:#222;
}
.input .input-text:valid + .placeholder{
    top:0px;
    font-size:12px;
    color:#222;
}




/*input-error*/

.input-error>.input-text{
    box-shadow: 1px 1px 10px #ff000063;
    
}
.input-error>div{
    position:absolute;
    color:red;
    top:calc(50% + 10px);
    transform:translateY(-50%);
    right:10px;
    font-size:20px;
}


/* input-validation*/




/*textbox*/

.textbox{
    max-width:250px;
    min-width:200px;
    margin-top:20px;

}
.textbox>textarea{
  width:100%;
  height:100px;
  padding:10px 5px;
  resize:none;
  border-radius: 5px;
  border:none;
  outline:none;
  background:#f2f2f2;
  transition:height 0.3s ease, transform 0.3s ease;
}
.textbox>textarea:focus{
    height:150px; 
    transform:translateY(-10px);
    
}
.textbox>textarea:focus::placeholder{
    opacity:0;
}




/*list-------------------------------------------------------------------*/
.list{
padding:0;
width:50%;
}
.list>li{
  list-style-type:none;
  display:flex;
  margin:5px;
}




/*list with icon*/

.list-icon>li{
padding:10px;
cursor:pointer;
}

.list-icon>li>i{
    width:30px;
    padding-right:10px;
}
.list-icon>li:hover{
 background:#f2f2f2;
}





/*list in reverse*/

.list-stacked{
  display:flex;
  flex-direction:column-reverse;
  
}
.list-notification>li{
    font-size:14px;
    max-height: 100px;
    overflow:ellipsis;
    border-radius:5px;
    cursor:pointer;
}
.list-notification>li:hover{
    background:#f2f2f2;
}
.list-notification>li div{
    padding:5px 5px;
}
.list-notification>li>i{
    color:rgb(186, 0, 0);
    font-size:25px;
    padding-top:5px;
    margin: 0 13px;
    
}
.list-notification>li img{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.list-notification>li>div>span:last-child{
color:rgb(136, 136, 136);
font-size:12px;
}

/*--modal------------------------------------------------------------*/

.modal{

}
.modal-content{
    width:30%;
    height:20%;
    overflow:auto;
    border:1px solid black;
    border-radius:5px;
    padding:20px;
}
.modal-content br{
    margin-bottom: 20px;
}
.modal-content button{
    border:none;
    background:#f2f2f2;
    padding:5px 10px;
    font-size:16px;
}